Package: AppImageBuilderGUI
Version: 1.0
Section: utils
Priority: optional
Architecture: all
Maintainer: Zerbaib <zerbaib@proton.me>
Depends: bash, curl
Description: Automation Script for
  Create a venv
